* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  position: relative;
}

.image {
  width: 100%;
  display: block;
  cursor: pointer;
  transition: all .5s;
}
.image:hover {
  opacity: .8;
}
.image-container {
  position: relative;
}
.caption {
  position: absolute;
  width: 100%;
  bottom: 10%;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: relative;
}
img {
  max-height: 100%;
    max-width: 100%;
    width: auto;
}
.slideshow-container {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 2% 5%;
  gap: 25%;
  margin-bottom: 6rem;
}

.slideshow-container p {

  line-height: 2;
}
.image-container {
  display: flex;
}
.image-container__image {
  width: 32rem;
  display: flex;
}
.artist {
  width: 6rem;
  display: flex;
  position: absolute;
  bottom: -10%;
  margin-left: 1.5rem;
}
.description {
  position: relative;
  padding-top: 8rem;
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
 
}
.year {
  position: absolute;
  top: 0;
  right: 0%;
  font-size: 12rem;
  opacity: .2;
}
 .slideshow-container .image-container__caption {
  padding: 0;
  padding-top: 0;
 position: relative;
 color: black;
 bottom: 0;
 
}
.image-container__caption .text {
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  left: -4.2rem;
  padding: 4rem;
  padding-top: 0;

  padding-bottom: 3rem;
  padding-right: 0;
}
.image-container .image-container__caption h2 {

  font-size: 3.2rem
}
.image-container .image-container__caption p {
  font-size: 1rem
}
.progress-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  border-top: 1px black solid;
}
.slide-name {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.slide-name p{
  font-size: .8rem;
}
.controls {
  display: flex;
  gap: 4rem;
}
.controls img {
  width: 1.7rem;
  height: 1.7rem;
}
.view-image {
  position: absolute;
  background-color: rgba(0, 0, 0,.7);
  padding: .9rem;
  display: flex;
  gap: 1rem;
  left: 5%;
  bottom: 5%;
  cursor: pointer;
}
.view-image img {
  max-width: 100%;
  max-height: 100%;
}
.view-image span {
  color: white;
}
.overlay {
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 5s;
  z-index: 500;
}
.zoom-image {
  position: relative;
  max-width: 70%;
}
.close {
  position: absolute;
  top: -5%;
  right: 0;
  color: white;
  cursor: pointer;
}